<h1>Editing Meta</h1>

<% form_for @meta do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>

<p>
  <%= link_to 'Show', @meta %>
  |
  <%= link_to 'Back', klass_metas_path(@meta.klass_id) %>
</p>
