<h1>New Meta</h1>

<% form_for(@meta) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', metas_path %></p>
