<h1>New Menu</h1>

<% form_for(@menu) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', menus_path %></p>
