<h1>Editing Limit group</h1>

<% form_for(@limit_group) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>

<p>
  <%= link_to 'Show', @limit_group %>
  |
  <%= link_to 'Back', klass_limit_groups_path(@limit_group) %>
</p>
