<h1>New Limit group</h1>

<% form_for [@klass,@limit_group] do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', klass_limit_groups_path(@klass) %></p>
