<h1>New Permission</h1>

<% form_for(@permission) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', permissions_path %></p>
