<h1>New Limit scope</h1>

<% form_for(@limit_scope) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', limit_scopes_path %></p>
